<ion-header>
  <ion-toolbar>
    <ion-title>game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="game">

    <div id="gameGrid">

      <br />
      <br />
      <div class="gridgame" style="display: inline-flex;">
        <div class="square" *ngFor="let square of squares | filterCol:1; first as isFirst">
          <div class="btn-top" id="{{square.top}}" (click)=clickCase(square.top)></div>
          <div *ngIf="isFirst" id="{{square.left}}" class="btn-left" (click)=clickCase(square.left)></div>
          <div class="btn-right" id="{{square.right}}" (click)=clickCase(square.right)></div>
          <div class="btn-down" id="{{square.down}}" (click)=clickCase(square.down)></div>
        </div>
      </div>

      <div class="gridgame" style="display: inline-flex;">
        <div class="square" *ngFor="let square of squares | filterCol:2; first as isFirst">
          <div *ngIf="isFirst" id="{{square.left}}" class="btn-left" (click)=clickCase(square.left)></div>
          <div class="btn-right" id="{{square.right}}" (click)=clickCase(square.right)></div>
          <div class="btn-down" id="{{square.down}}" (click)=clickCase(square.down)></div>
        </div>
      </div>

      <div class="gridgame" style="display: inline-flex;">
        <div class="square" *ngFor="let square of squares | filterCol:3; first as isFirst">
          <div *ngIf="isFirst" id="{{square.left}}" class="btn-left" (click)=clickCase(square.left)></div>
          <div class="btn-right" id="{{square.right}}" (click)=clickCase(square.right)></div>
          <div class="btn-down" id="{{square.down}}" (click)=clickCase(square.down)></div>
        </div>
      </div>

      <div class="gridgame" style="display: inline-flex;">
        <div class="square" *ngFor="let square of squares | filterCol:4; first as isFirst">
          <div *ngIf="isFirst" id="{{square.left}}" class="btn-left" (click)=clickCase(square.left)></div>
          <div class="btn-right" id="{{square.right}}" (click)=clickCase(square.right)></div>
          <div class="btn-down" id="{{square.down}}" (click)=clickCase(square.down)></div>
        </div>
      </div>

      <div class="gridgame" style="display: inline-flex;">
        <div class="square" *ngFor="let square of squares | filterCol:5; first as isFirst">
          <div *ngIf="isFirst" id="{{square.left}}" class="btn-left" (click)=clickCase(square.left)></div>
          <div class="btn-right" id="{{square.right}}" (click)=clickCase(square.right)></div>
          <div class="btn-down" id="{{square.down}}" (click)=clickCase(square.down)></div>
        </div>
      </div>

    </div>

  </div>
</ion-content>