<ion-header>
  <ion-toolbar>
    <ion-title>game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="game">

    <div id="gameGrid">


      <br />
      <br />
      <div class="gridgame" style="display: inline-flex;">

        <div class="square">
          <div class="btn-up" (click)=clickCase()></div>
          <div class="btn-left"></div>
          <div class="btn-right"></div>
          <div class="btn-down"></div>
        </div>
        <div class="square">
          <div class="btn-up"></div>
          <div class="btn-right"></div>
          <div class="btn-down"></div>
        </div>
        <div class="square">
          <div class="btn-up"></div>
          <div class="btn-right"></div>
          <div class="btn-down"></div>
        </div>
        <div class="square">
          <div class="btn-up"></div>
          <div class="btn-right"></div>
          <div class="btn-down"></div>
        </div>
      </div>
      <div class="gridgame" style="margin-top: -10px;">
        <div class="square">
          <div class="btn-left"></div>
          <div class="btn-right"></div>
          <div class="btn-down"></div>
        </div>
        <div class="square">
          <div class="btn-right"></div>
          <div class="btn-down"></div>
        </div>
        <div class="square">
          <div class="btn-right"></div>
          <div class="btn-down"></div>
        </div>
        <div class="square">
          <div class="btn-right"></div>
          <div class="btn-down"></div>
        </div>
      </div>
      <div class="gridgame" style="margin-top: -10px;">
        <div class="square">
          <div class="btn-left"></div>
          <div class="btn-right"></div>
          <div class="btn-down"></div>
        </div>
        <div class="square">
          <div class="btn-right"></div>
          <div class="btn-down"></div>
        </div>
        <div class="square">
          <div class="btn-right"></div>
          <div class="btn-down"></div>
        </div>
        <div class="square">
          <div class="btn-right"></div>
          <div class="btn-down"></div>
        </div>
      </div>
      <div class="gridgame" style="margin-top: -10px;">
        <div class="square">
          <div class="btn-left"></div>
          <div class="btn-right"></div>
          <div class="btn-down"></div>
        </div>
        <div class="square">
          <div class="btn-right"></div>
          <div class="btn-down"></div>
        </div>
        <div class="square">
          <div class="btn-right"></div>
          <div class="btn-down"></div>
        </div>
        <div class="square">
          <div class="btn-right"></div>
          <div class="btn-down"></div>
        </div>
      </div>
    </div>

  </div>
</ion-content>