body {
  background-color: ghostwhite;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
  .banner-home {
  }
  .btn-create {
    font-family: cursive;
    margin-top: 50px;
    height: 70px;
    width: 220px;
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: x-large;
  }
  .number-cases {
    padding-top: 20px;
    font-family: cursive;
    .title {
      font-weight: bold;
      font-size: 20px;
    }
  }
  .select-player {
    display: inline-flex;
    padding-top: 20px;
    font-family: cursive;
    font-size: 20px;
    .title {
      font-weight: bold;
      font-size: 23px;
    }
    .radio-button {
      display: block;
      text-align: left;
    }
    .player-one {
      font-size: 16px;
      min-width: fit-content;
      margin-right: 4%;
      padding: 10px;
      border: 4px solid #40abe9;
      .title {
        color: #40abe9;
      }
    }
    .player-two {
      min-width: fit-content;
      font-size: 16px;
      padding: 10px;
      border: 4px solid indianred;
      .title {
        color: indianred;
      }
    }
    // .activ-player {
    //   border: 4px solid;
    //   border-style: dashed;
    //   transition: border 1s, border-style 1s, transform 1s;
    // }
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}
