<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jeu des pitis carrés
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Jeu des pitis carrés</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Créer une partie</strong>
    <p>Séléctionner les paramètres de la partie</p>

    <div class="select-player">
      <div class="player-one">
        <div> Joueur 1</div>
        <!-- <label id="example-radio-group-label">Pick your favorite season</label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="favoriteSeason">
          <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
            {{season}}
          </mat-radio-button>
        </mat-radio-group>
        <div>Your favorite season is: {{favoriteSeason}}</div> -->
      </div>

      <mat-radio-group name="gender" [(ngModel)]="gender"> </mat-radio-group>
      <div class="player-two">
        <div> Joueur 2 </div>
      </div>
    </div>

  </div>
</ion-content>