<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jeu des pitis carrés
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Jeu des pitis carrés</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Créer une partie</strong>
    <p>Séléctionner les paramètres de la partie</p>

    <div class="select-player">
      <div class="player-one">
        <div> Joueur 1</div>
        <!-- Form starts -->
  
      </div>

      <div class="player-two">
        <div> Joueur 2 </div>
      </div>
    </div>

  </div>
</ion-content>